@media (max-width: 576px) {
    body {
        width: 100%;
    }

    .tentang-saya .garis {
        display: none;
        width: 0px;
        height: 0px;
    }

    .tentang-saya img {
        display: block;
        margin: auto;
    }

    .tentang-saya .text {
        text-align: center;
    }

    .portofolio .card {
        margin: 10px auto;
    }
}

@font-face {
    font-family: 'MontserratAlternates';
    src: url("../libs/fonts/montserrat.otf");
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'MontserratAlternates';
}

h1 {
    color: #FF884B;
}

.navbar .navbar-brand {
    color: #FF884B;
}

.navbar .navbar-nav .nav-link {
    color: #FF884B;
}

.hero {
    background-color: #FFFDDE;
    color: #FF884B;
}

.hero .btn {
    background-color: #FF884B;
    color: #FFFDDE;
}

.tentang-saya .garis {
    width: 10px;
    height: 330px;
    background-color: #4090a9;
}

.tentang-saya .text {
    color: #4090a9;
}

.tentang-saya p {
    color: #FF884B;
}