@media (max-width: 676px) {
    .tentang-saya h1 {
        text-align: center;
    }

    .tentang-saya img {
        display: block;
        margin: auto;
    }

    .tentang-saya .name {
        text-align: center;
    }
}

@font-face {
    font-family: 'MontserratAlternates';
    src: url("../libs/fonts/montserrat.otf");
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'MontserratAlternates';
    color: #FF884B;
}

h1 {
    font-weight: bold;
}

.navbar .navbar-brand,
.navbar .navbar-nav .nav-link,
.hero {
    color: #FF884B;
}


.hero {
    background-color: #FFFDDE;
}

.hero .btn {
    background-color: #FF884B;
    color: #FFFDDE;
}